.resources__link {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.resources__link:hover {
  box-shadow: 0 0 10px #333;
  background: linear-gradient(rgba(243, 129, 129, .3), rgba(252, 227,138, .3));
  transition: all 0.1s linear;
}
