
.footer {
  min-height: 250px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}

.footer__columns {
  margin: auto;
  width: 90%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer__columns-heading {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer__columns-links {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;

}

.footer__columns_content_info {
  display: flex;
  flex-direction: column;
}

.footer__columns_content_social {
  display: flex;
  flex-direction: column;
}

.link_style {
  padding-bottom: 10px;
  list-style-type: none;
}

.link_style > a {
  color: #fff;
  text-decoration: none;


}
